.figure{
	text-align: center;
	display: flex;
  /* alineacion vertical */
  align-items: center;
   /* alineacion horizontal */
  justify-content: center;
}

.login_wrapper{
	margin-top: 0px !important;
}

.logo-escudo{
	width: 100px;
}

body.login{
	background: url('../img/fondo.png');
}

.btn-IngresarUsuario{
    border: none;
    background: #3a7999;
    color: #f2f2f2;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;
    background: rgba(0,0,0,0);
    color: #3a7999;
    box-shadow: inset 0 0 0 3px #3a7999
}

input[type=text]:focus {
    background-color: lightblue;
}